<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" >
      <a class="nav-link" >Link 1</a>
    </li>

    <!-- Dropdown -->
    <!-- click outside event used to detect outside event click when dropdown open or not
          if dropdown list is open then call onClickedOutside() and hide the dropdown  -->
    <li class="nav-item dropdown" appDropdown (clickOutside)="onClickedOutside($event)">
      <a class="nav-link dropdown-toggle"  id="navbardrop1" data-toggle="dropdown" >
        Dropdown link 1
      </a>
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown" appDropdown (clickOutside)="onClickedOutside($event)">
      <a class="nav-link dropdown-toggle"  id="navbardrop2" data-toggle="dropdown" >
        Dropdown link 2
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>